.start-body {
  background-color: #e3edf0;
  font-family: HelveticaNeueCyr, sans-serif;
}

.index-button {
  color: #fff;
}

.focus-none:focus{
  box-shadow: none;
}

.index-button:hover {
  text-decoration: none;
  color: #fff;
}
