.start-body {
  background-color: red;
  padding-top: 30rem;
  font-family: HelveticaNeueCyr, sans-serif;
}

.index-button {
  color: #fff;
}

.index-button:hover {
  text-decoration: none;
  color: #fff;
}

.modal-body {
  margin-top: 100px;
}
