.inform-body {
  padding-top: 5rem;
  // background-color: #0084b4;
  font-family: HelveticaNeueCyr, sans-serif;
}

.nav-link-color {
  color: #66757f !important;
}
.nav-icons:before {
  font-size: 20px;
  margin-right: 5px;
}

.modal-body-inform {
  padding-bottom: 15px;
}
.password-inform {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}
