.search-body {
    padding-top: 5rem;
    background-color: #e3edf0;
    font-family: HelveticaNeueCyr, sans-serif;
}

.main {
    background-color: #e3edf0;
}

.profile-bio-search {
    background: linear-gradient(0deg, #FFFFFF 0%, #FFFFFF 59%, #0084b4 60%, #0084b4 100%);
}

.user-avatar {
    font-size: 75px;
}