/* Colors */
$addition-color: #10c9c3;
$black: #000;

/* Media queries */
$screen-xs: 320px;
$screen-s: 480px;
$screen-m: 640px;
$screen-l: 769px;
$screen-xl: 980px;

$screen-xs-max: 479px;
$screen-s-max: 639px;
$screen-m-max: 768px;
$screen-l-max: 979px;
$screen-xl-max: 1199px;

